<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Default Title 1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link th:href="@{/static/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css" />

  <link th:href="@{/static/css/custom/common.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/static/css/custom/color.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/static/css/custom/size.css}" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Nội dung chung của trang (menu, header, footer, v.v.) -->

  <div th:include="~{content :: content}"></div> <!-- Thay thế phần content -->
</body>

</html>