<div th:fragment="category-table" class="col-md-10" xmlns:th="http://www.w3.org/1999/xhtml">

  <a href="/category/create" class="btn btn-primary">Add category</a>

  <!-- Modal -->
  <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input type="hidden" id="delete-category-id">
        <div class="modal-body">
          Are you sure to delete this category?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick="deleteCategory()" class="btn btn-primary">Agree</button>
        </div>
      </div>
    </div>
  </div>

  <div th:if="${categoryList != null && categoryList.size() > 0}">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Category Table</h4>
        </p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="category : ${categoryList}" class="align-items-center">
                <td th:text="${category.id}"></td>
                <td><img th:src="${category.thumbnailUrl}" width="50" class="img-thumbnail"></td>
                <td th:text="${category.name}"></td>
                <td>
                  <a th:href="@{category/edit/{categoryId} (categoryId=${category.id})}" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>


                  <a type="button" id="delete-category" th:attr="onclick=|prepareDeleteCategory('${category.id}')|" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div th:unless="${categoryList != null && categoryList.size() > 0}">
    <h1>Category list is empty</h1>
  </div>
  <script th:src="@{/static/js/custom/pages/category/table.js}"></script>
</div>